include ../includes/header.pug
main(class=mainClass)
  div(class="watchlistHeader")
    h1 Wachtlist: #{name}
    p Created: #{createdOutput}
    button(name="delete") Delete Watchlist
  div(class="watchlistMovies")
    ul(id='movies')
      if movies
        each val, index in movies
          li
            h3 #{val.title} (#{val.year})
            img(src=val.poster, alt="Poster of " + val.title)
            p(class="genre") <strong>Genre: </strong> #{val.genre}
            p(class="director") <strong>Director: </strong> #{val.director}
            p(class="plot") <strong>Plot: </strong> #{val.plot}
            p(class="runtime") <strong>Runtime: </strong> #{val.runtime}
            p(class="rating") <strong>Rating: </strong> #{val.rating}
            div(class="remove")
              button(name="removeMovie") Remove 
            input(type="hidden" name="movieID" value=val.id)
      else
        li(id="noMovies") No movies yet
  div(class="watchlistAdd")
    div(id="addMovie")
      h2 Add movie:
      input(type="text" name="movieTitle" placeholder="Search...")
      button(name="search") Search
    div(id="result")
      ul
script(src="../public/scripts/watchlist.js")
include ../includes/footer.pug