include ../includes/header.pug
main
  h1 Wachtlist: #{name}
  button(name="delete") Delete Watchlist
  ul(id='movies')
    if movies
      each val, index in movies
        li
          h3 #{val.title} (#{val.year})
          p #{val.genres}
          p #{val.director}
          p #{val.plot}
          p #{val.runtime}
          p #{val.rating}
          img(src=val.poster, alt="Poster of " + val.title)
          input(type="hidden" name="movieID" value=val.id)
          button(name="removeMovie") Remove 
    else
      li(id="noMovies") No movies yet
  p Created: #{createdOutput}
  hr
  div(id="addMovie")
    h2 Add movie:
    input(type="text" name="movieTitle" placeholder="Search...")
    button(name="search") Search
  div(id="result")
    ul
script(src="../public/scripts/watchlist.js")
include ../includes/footer.pug